body {

    /* CSS RESET */
    margin: 0px;
    padding: 0px;
    background: url('img/gym.jpg');
    background-size: cover;
    color: white;
    font-family: 'Ubuntu', sans-serif;

}


.left {
    display: inline-block;
    /* border: 2px solid rgb(0, 255, 115); */
    position: absolute;
    left: 34px;
    top: 10px;
    font-size: 15px;
    left: 30px;



}

.left img {
    width: 23px;
    filter: invert(100%);
    width: 70px;
    display: block;
    margin: auto;
    color: white 100%;


}

.left div {
    text-align: center;
}

.mid {
    display: block;
    width: 40%;
    margin: 20px auto;
    /* border: 2px solid rgb(73, 189, 218); */


}

.right {
    position: absolute;
    right: 20px;
    top: 22px;
    display: inline-block;
    /* border: 2px solid rgb(255, 0, 0); */



}

.navbar {
    display: inline-block;
    list-style: none;
    padding: 0px;
    margin: 4px;

}

.navbar li {
    display: inline-block;
    font-size: 20px;

}

.navbar li a {
    text-decoration: none;
    color: white;
    padding: 15px;
}


.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: gray;

}

.btn {
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 2px 5px;
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;

}

.btn:hover {

    background-color: rgb(121, 112, 112);
}

.container {

    margin-top: 60px;
    padding: 30px;
    margin-left: 73px;
    border: 2px solid white;
    width: 30%;
    border-radius: 19px;
}


.formgroup input {
    text-align: center;
    display: block;
    width: 70%;
    margin: 5px auto;
    padding: 6px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;

}

.container h1 {
    text-align: center;
}

.container .btn {

    display: block;
    margin: 10px auto;
    width: 72%;
    padding: 5px;
}